body {
  background: #f5d9df;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

/* Utility Classes */
.uppercase {
  text-transform: uppercase;
}

/* Navbar */
#main-nav {
  font-size: 1.5rem;
  font-weight: 100;
}

#main-nav .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
  font-weight: 100;
}

#main-nav .nav-link {
  color: #fff;
  transition: color 0.3s;
}

#main-nav .nav-link:hover {
  color: #ea1c2c;
}

/* Heading Section */
#heading-group span {
  color: #ea1c2c;
}

#heading-group h1 {
  font-weight: 100;
  font-size: 4rem;
}
